@font-face {
  font-family: "Cloud";
  src: url("fonts/cloud.ttf");
}

@font-face {
  font-family: "Rock";
  src: url("fonts/boulder.ttf");
}



h1 {
  font-family: Cloud;
  color: rgb(143, 170, 252);
  text-shadow: 6px 6px 7px;
}

P {

color: rgb(211, 65, 39);
font-size: 18px;

}

li {

color: rgba(88, 0, 230, 0.8);

}

img {
  width: 700px;
  padding: 15px;
}

.Rock {
  font-family: Rock;
  color: grey;
}